/* Mobile First */

.wrapper {
  display: flex;
  flex-direction: column;
  color: #333;
  margin-left: 1.5rem;
}

.header {
  margin: 1.24rem 0 4rem;
}

.header__title {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.08em;
  line-height: 1.562rem;
  text-transform: uppercase;
}

.section {
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
}

.section__img {
  height: 14.875rem;
  width: 17.937rem;
}

.section__title {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: -0.035em;
  line-height: 4.437rem;
  margin: 3.75rem 0.062rem 1.875rem 0;
}

.section__p {
  font-size: 1.125rem;
  line-height: 1.687rem;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin: 0 1.5rem 4.125rem 0;
}

.section__btn {
  width: 13.5rem;
  height: 4.25rem;
  background: #333;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.312rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  margin: 0 0 6rem;
}

.footer {
  margin-bottom: 2.625rem;
  text-align: center;
}

.footer__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.062rem;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    margin-left: 4.812rem;
  }

  .section {
    flex-direction: row;
    margin: 0 7.437rem 0 0;
  }

  .section__article {
    flex-direction: column;
  }

  .header {
    margin: 2.5rem 0 12.5rem;
  }

  .section__img {
    height: 27.937rem;
    width: 33.687rem;
    margin: 0 7.375rem 0 0;
  }

  .section__title {
    font-size: 4rem;
    line-height: 5.937rem;
    margin: 0 0 2.25rem;
  }

  .section__p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin: 0 0 4rem;
  }

  .section__btn {
    margin: 0 0 19.75rem;
  }

  .footer {
    margin-bottom: 2.437rem;
  }
}
