.wrapper {
  display: flex;
  flex-direction: column;
  color: #333;
}

.header {
  margin: 1.24rem 1rem 4rem 1.5rem;
}

.header__title {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.08em;
  line-height: 1.562rem;
  text-transform: uppercase;
}

.section {
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
}

.section__img {
  height: 14.875rem;
  margin: auto;
}

.section__title {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: -0.035em;
  line-height: 4.437rem;
  margin: 3.75rem 0.062rem 1.875rem 1.5rem;
}

.section__p {
  font-size: 1.125rem;
  line-height: 1.687rem;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin: 0  1.5rem 4.125rem 1.437rem;
}

.section__btn {
  width: 13.5rem;
  height: 4.25rem;
  background: #333;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.312rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  margin: 0 0 6rem 1.5rem;
}

.footer {
  margin-bottom: 2.625rem;
  text-align: center;
}

.footer__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.062rem;
}
